body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

div {
    margin-bottom: 10px;
}

label {
    font-size: 1.2em;
}

input {
    margin-left: 10px;
    padding: 5px;
    font-size: 1em;
    width: 50px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#bill {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}
.back{
    padding: 20px;
    background-color: #45a049;
    position: fixed;
    bottom: 10px;
    right: 20px;
    border-radius: 35px;
    width: 70px ;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
